@font-face {
  font-family: "Roboto Slab";
  font-weight: bold;
  font-display: swap;
  src: url(./fonts/roboto-slab/RobotoSlab-Bold.ttf);
}

@font-face {
  font-family: "Roboto Slab";
  font-weight: 500;
  font-display: swap;
  src: url(./fonts/roboto-slab/RobotoSlab-Medium.ttf);
}

@font-face {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/roboto-slab/RobotoSlab-Regular.ttf);
}


@font-face {
  font-family: "Work Sans";
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/work-sans/WorkSans-Regular.ttf);
}


@font-face {
  font-family: "Work Sans";
  font-weight: 500;
  font-display: swap;
  src: url(./fonts/work-sans/WorkSans-Medium.ttf);
}

@font-face {
  font-family: "Work Sans";
  font-weight: bold;
  font-display: swap;
  src: url(./fonts/work-sans/WorkSans-Bold.ttf);
}

html {
  font-size: 16px;
  font-family: Work Sans, sans-serif;
  color:#131313;
}



body {
  max-width: 375px;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

